@use './variables' as *;

%centrado-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

%titulos-ext {
  border-bottom: 1px solid $color-negro;
  padding-bottom: 8px;
  margin-bottom: 16px;
  width: fit-content; 
}

