@use './variables' as *;
@use './extends' as *;
/* NOSOTROS*/
.mainnosotros{
    .nosotros{
     display: grid;
     grid-template-areas:
     "historia historia"
     "imagenlogo parrafo1"
     "aqui aqui"
     "parrafo2 imagennere";
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     padding-left: 5%;
     padding-right: 5%;
     justify-content: center;
        p{
         text-decoration: none;
         font-size: 1.2rem;
         }
        img{
         width: 100%;
         height: auto;
         object-fit: cover;
        }
        .historia{
         grid-area: historia;
         @extend %centrado-flex;
         height: 50%;
         margin-top: 24px;
         @extend %titulos-ext;
        }
        .imagenlogo{
         grid-area: imagenlogo;
        }
        .parrafo1{
         grid-area: parrafo1;
         @extend %centrado-flex;
        }
        .aqui{
         grid-area: aqui;
         display: flex;
         text-align: center;
         justify-content: flex-end; 
         height: 50%;
         @extend %titulos-ext;
         padding-bottom: 18px;
         margin-left: auto;
        }
        .imagennere{
         grid-area: imagennere;
         margin-bottom: 20px;
        }
        .parrafo2{
         grid-area: parrafo2;
         @extend %centrado-flex;
        }
    }
}